@import url('http://fonts.cdnfonts.com/css/print-clearly');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  ---bg-txt-col: #fff;
  ---bg-col: #fff;
  ---brdr-col: #fff;
  ---sec-txt:rgba(224, 224, 224, 0.603);
  ---brad: 0.5em;
  ---green: lime;
  ---red: crimson;
  ---flag-on: #b98d0f;
  ---el1-col: #121212;
  ---el2-col: #1d1d1d;
  ---el3-col: #212121;
  ---el4-col: #242424;
  ---el5-col:#272727;
  ---el6-col:#2d2d2d;
  ---el10-col:#373737;
  ---editor-height: 1000px;
  ---large-title: 2.5rem;
  ---med-title:1.6rem;
}

html, body {
  height: 100vh;
  background-color: var(---el1-col);
  color: var(---bg-col);
}

.blk-icon{
  transition: all 0.5s ease;
}
.blk-icon:hover{
  color:var(---red)!important;
}

.flag-col:hover{
  color:var(---flag-on)!important;
}

.trash-icon:hover{
  color: var(---bg-col)!important;
}

.full-height {
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.sec-txt{
  color: var(---sec-txt)!important;
}
.green{
  background-color: var(---green);
}
.red{
  background-color: var(---red);
}

.green-txt{
  color: var(---green)!important;
}

.red-txt {
  color: var(---red)!important;
}

.flag-on{
  color:var(---flag-on)!important;
}

.lrg-title{
  font-size: var(---large-title);
  text-align: center;
  margin: 1rem 0;
}

.md-title{
  font-size: var(---med-title);
  text-align: center;
  margin: 0.5rem 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.channel-list-sidebar {
  width: 72px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.main{
  display: grid;
  grid-template-columns:1fr;
  height: 90vh;
}


.main-wrap{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

@media screen and (max-width: 750px) {
  .main{
    /* border: solid orange 1px; */
    display: none;
    
  }
  .sidenav{
    display: none;
  }

  .left-sidebar{
    display: none;
  }

  .ham-btn{
    display: flex;
  }
  .main-wrap{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1750px) {

  .right-sidebar{
    display: none;
  }

  .right-width{
    width: 100vw;
  }
}
