@import url('http://fonts.cdnfonts.com/css/print-clearly');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  ---bg-txt-col: #fff;
  ---bg-col: #fff;
  ---brdr-col: #fff;
  ---brad: 0.5em;
  ---up-col: lime;
  ---down-col: red;
  ---el1-col: #121212;
  ---el2-col: #1d1d1d;
  ---el3-col: #212121;
  ---el4-col: #242424;
  ---el5-col:#272727;
  ---el6-col:#2d2d2d;
  ---el10-col:#373737;
  ---editor-height: 1000px;
  ---large-title: 2.5rem;
}

html, body {
  height: 100vh;
  background-color: var(---el1-col);
  color: var(---bg-col);
}

.full-height {
  height: 100%;
}

a{
  text-decoration: none;
  color: black;
}


body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.channel-list-sidebar {
  width: 72px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--primary-color);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.main{
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  height: 90vh;
}

@media screen and (max-width: 750px) {
  .main{
    /* border: solid orange 1px; */
    display: none;
    
  }
  .sidenav{
    display: none;
  }

  .left-sidebar{
    display: none;
  }

  .ham-btn{
    display: flex;
  }
}

@media screen and (max-width: 1750px) {
  .main{
    /* border: solid orange 1px; */
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    height: 90vh;
  }

  .right-sidebar{
    display: none;
  }

  .contact-widget-btn{
    display: flex;
  }

  .right-width{
    width: 100vw;
  }
}
