.msg-card{
    background-color: var(---el6-col);
    border: 1px solid var(---sec-txt);
    border-radius: var(---brad);
    padding: 1rem;
}

.message-card{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    align-items: center;
}

.social-wrap{
    display: flex;
    gap: 1rem;
    text-align: center;
}

.main-msg{
    padding: 2rem;
}

.msg-content{
    display: grid;
    grid-gap: 1rem;
}
.msg-date{
    text-align: center;
    margin: 1rem 0;
}
.top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.data-btn-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.data-btn{
    border: var(---sec-txt) 1px solid;
    padding: 0.5rem;
    border-radius: 1em;
    background-color: var(---el10-col);
}

.twit-wrap{
    display: flex;
    align-items: center;
}
.twit-btn{
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    color: #1d9bf0;
}

@media screen and (max-width: 1750px) {

    .message-card{
        grid-template-columns: 1fr;
    }

    .info-inner{
        display: flex;
        justify-content: start;
        gap: 2rem;
    }

    .social-inner{
        justify-content: space-evenly;
    }
  }
  