
.block-sec{
    align-content: center;
    justify-content: center;
}

.block-list{
    width: 90%;
    margin: auto;
}

.blocked-wrap{
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 0.5em;
    border: 1px solid var(---sec-txt);
    background-color: var(---el5-col);
}

.setting-block-form{
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.block-input{
    width: 100%;
    padding: 0.5rem;
}

.no-blocked{
    text-align: center;
    margin-top: 3rem;
}