


.ck{
    height: 500px;
    width: var(---editor-height);
}

.editor-wrap{
    color: black!important;
}
.ckedit{
    color: black!important;
}
.title{
    color: red;
}

.mail-input{
    padding: 0.5rem;
    width: 100%;
}

.mail-list{
    width: 100%;
}
.mailtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.ham-btn, .contact-widget-btn{
    display: none;
}

.mail-title{
    font-size: var(---large-title);
    text-align: center;
}
.widget-btn{
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.center-main{
    width: 90%;
    margin: auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: var(---el10-col) 2px solid;
    border-left: var(---el10-col) 2px solid;
    /* box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.192); */
}
.main-sec{
    height: 90vh;
    background-color: var(---el2-col);
}


.create-mail-wrap{
    width: var(---editor-height);
    margin: auto;
}

.mail-wrap, .blockcart-wrap{
    padding: 0.2rem 1rem;
    
}
.mail-card, .blockcard{
    border: solid var(---el10-col) 1px;
    background-color: var(---el4-col);
    color: var(---bg-txt-col);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: all 1s ease;
}

.blockcard{
    justify-content: space-between;
}
.mail-card:hover, .blockcard:hover{
    box-shadow: 0 0 0.5em 0 rgba(255, 255, 255, 0.63);
}

.mail-check, 
.mail-del, 
.mail-flag, 
.block-btn{
    display: flex;
    background: inherit!important;
    border: none;
    
}

.mail-icon{
    width: 20px;
    height: 20px;
    color: var(---bg-txt-col);
    cursor: pointer;
    transition: all 0.5s ease;
}
.block-icon2{
    width: 30px;
    height: 30px;
    color: var(---bg-txt-col);
    cursor: pointer;
}
.block-icon{
    width: 30px;
    height: 30px;
    color: var(---bg-txt-col);
    cursor: pointer;
}
.mail-card-inner{
    color: var(---bg-txt-col);
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 1rem;
}
.data-tb{
    display: flex;
    gap: 1rem;
    align-items: center;
}


.right-sidebar{
    overflow-y: scroll;
    background-color: var(---el1-col);
}

.right-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  .right-sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  .right-sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #666666;
  }
  
@media screen and (max-width: 750px) {
    .main{
        display: block;
    }
    .ham-btn{
      display: flex;
    }
  }
@media screen and (max-width: 1750px) {  
    .contact-widget-btn{
      display: flex;
    }
    .center-main{
        width: 100%;
        border-top-right-radius: none;
    }
  }