/* NAV */
.mobile-left-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}
.mobile-right-sidenav {
  height: 100%;
  box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.144);
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: var(---el1-col);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mobile-right-sidenav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.mobile-right-sidenav::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.mobile-right-sidenav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #666666;
}
.mobile-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mobile-sidenav a:hover {
  color: #f1f1f1;
}

.mobile-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .mobile-sidenav {padding-top: 15px;}
  .mobile-sidenav a {font-size: 18px;}
}
/* NAVEND */


.sidenav {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%!important;
  background-color: var(---el1-col);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: 0.3s;
  width: 80%;
}
  
.sidenav a:hover {
  color: #f1f1f1;
  background-color: var(---el3-col);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top: var(---el10-col) 2px solid;
  border-right: var(---el10-col) 2px solid;
  border-bottom: var(---el10-col) 2px solid;
  box-shadow: 0 0 0.3em 0 rgba(255, 255, 255, 0.507);
}

.sidenav .closebtn {
  display: none;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.right-sidebar{
  padding: 1rem;
}

.main-card{
  /* border: black solid 1px; */
  width: 100%;
  color:var(---bg-txt-col);
  background-color: inherit;
  font-size: 1.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.5s all ease;
}

.hide{
  display: none;
}

.menu-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.box{
  display: flex;
  justify-content: center;
  align-content: center;

  margin-right: 2rem;
  min-width: 25px;
  height: 25px;
  color: var(---el1-col)!important;
}

.contact{
  height: 0;
  width: 100%;
  overflow-y: hidden;
  transition: 0.5s;
}

.contact-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  color: var(---bg-txt-col);
}

.c-btn,.contact-widget-btn, .ham-btn{
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.friend-img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.friend-search-wrap{
  text-align: center;
  margin: 1rem 0;
}

.fr-form{
  display: grid;
  grid-gap: 0.5rem;
}
.friend-search{
  padding: 0.5rem;
  width: 100%;
}

.side-widget{
  
  background-color: white;
}

.right-widget{
  /* display: none; */
  padding-right: 1rem;
  padding-left: 0.5rem;
  transition: all 1s ease;
  border-left: black solid 1px;
}

.widge-bg-left, .widge-bg-right{
  visibility: hidden;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: grey;
}

.right-widget:hover{
  /* border-bottom-left-radius: 2em; */
  border-top-left-radius: 2rem;
}

.left-widget{
  /* display: none; */
  border-right: black solid 1px;
  padding-left: 1rem;
  padding-right: 0.5rem;
  transition: all 1s ease;
  
}
.rightbar-wrap{
  padding: 1rem;
}

.left-widget:hover{
  /* border-bottom-left-radius: 2em; */
  border-top-right-radius: 2rem;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}

@media screen and (max-width: 750px) {
  .widge-bg-left{
    visibility: visible;
  }
  
  .email-from{
    display: none;
  }
  
}

@media screen and (max-width: 1750px) {  
  .widge-bg-right{
    visibility: visible;
  }
}